@media only screen and (max-width: 1600px) {
  body {
    font: 10pt arial;
  }
  
  #network {
    height: 650px;
    background-color:#333333;
  }
}

*:focus {
  outline: none;
}

.bg_properties {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 15px;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}